@import './varibles.scss';

.input__wrapper{

    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  input[type=number] {
    -moz-appearance: textfield;
  }

    .input{
        outline: none;
        font-family: $header-font;
        border: none;
        border-bottom: 2px solid $primary;
        background-color: $accent;
        color: $primary;
        width: 90vw;
        padding-bottom: 2px;
    }
}